body {
    background-color: #F2EBE9;
}

h1:hover {
    font-style: italic;
}

/* hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 90%;
} */



/* *************************CLASS SELECTORS***************************** */




/* ***************************ID SELECTORS****************************** */
